@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Macondo', cursive;
    color: #FF9671;
    font-size: 3em;
    padding: 32px;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.prompt {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
}

.promptTwo {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

#scoreInfo {
    margin-top: 32px;
    font-size: 16px;
}

.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.playerText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3182ce;
}

.computerText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c53030;
}

#playerScore, #computerScore {
    padding-left: 4px;
    height: 18px;
}

.scores {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 48px;
    margin-bottom: 2em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

#player {
    grid-column-start: 4;
    grid-column-end: 5;
}

#computer {
    grid-column-start: 5;
    grid-column-end: 6;
}

.buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#rock, #paper, #scissors {
    border: none;
    border-color: #e2e8f0;
    max-width: 100%;
    height: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#rock:hover, #paper:hover, #scissors:hover {
    background: #1d1e1f;
}
#rock:focus, #paper:focus, #scissors:focus {
    background: -internal-light-dark(black, white);
}

.buttons > button {
    cursor: pointer;
  }

.resetBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

#reset {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent solid 2px;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#reset:hover {
    background: linear-gradient(to bottom right, #ff0544, #ff6505);
}

#reset:focus {
    border: 2px solid black;
}

/* media queries */

@media screen and (max-width: 725px) {
    header {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    h1 {
        grid-column-start: 1;
        grid-column-end: 8;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .rules {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
    
    .scores {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 100%;
    }

    #rock, #paper, #scissors {
        height: 150px;
        width: 120px;
    }

    img {
        max-width: 50%;
        height: auto;
    }

}

@media screen and (max-width: 375px) {
    header {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    h1 {
        grid-column-start: 1;
        grid-column-end: 8;
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    .sign {
         font-size: 50px;
    }
    
    #rock, #paper, #scissors {
        width: 110px;
        height: 150px;
    }

    .resetBtn {
        margin-top: 32px;
    }
}
